

.chatbox-wrapper {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 300px;

    &.expanded {
        height: 600px;
    }
    &.collapsed {
        height: 100px;
    }
}